
/************** General ***************/
body {
	background-image: url("../media/background/background_1920x1080.jpg");
}


li {
    border-bottom: 1px solid black;
	line-height: 0.8cm;
    padding-left: 0.1cm;	/*0.2*/
	
	font-size: 0.4cm;
	
	overflow: hidden;
	white-space: nowrap;
	
	text-overflow: ellipsis;
}


.option2 {
	height: 1.23cm;
	line-height: 1.23cm;
}


ul {
    margin: 0cm;
    padding-left: 0cm;
    list-style-type: none;
}


p {
    margin: 0cm 0cm 0.1cm 0cm;	/* t r b l */
	padding: 0cm 0cm 0cm 0cm;	/* t r b l */
	
	line-height: 0.3cm;
    font-size: 0.3cm;
	
	text-align: center;
}


.top {
    position: absolute;
	top: 0.2cm;
	
	width: 2.5cm;
}


.bottom {
    position: absolute;
	bottom: 0.15cm;
	
	width: 2.5cm;
}


/**************** IDs *****************/
#iRave {
	position: fixed;
	top: 60%;
	left: 75%;
	transform: translate(-50%, -50%);
	
	height: 9.6cm;
	width: 12cm;

    background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#screen {
    position: inherit;
    top: 3.35cm;
    left: 4.75cm;

	height: 3cm;
	width: 2.5cm;
    background-color: rgb(60, 60, 60);
	
	cursor: pointer;
}


#clock {
    position: absolute;
    top: 0.4cm;
    left: 0cm;

    height: 1.1cm;
	width: 2.5cm;

	padding: 0px 0px 0px 0px;
		
	line-height: 1.1cm;
	text-align: center;
	
	color: white;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 1.1cm;
}


#sec {
    position: absolute;
    top: 1.5cm;
    right: 0cm;

    height: 0.5cm;
	width: 2.5cm;

	padding: 0px 0.3cm 0px 0px;
		
	line-height: 0.5cm;
	text-align: right;
	
	color: white;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 0.4cm;
}


#date {
    position: absolute;
    top: 2.1cm;
    left: 0cm;

	height: 0.5cm;
	width: 2.5cm;

	padding: 0px 0px 0px 0px;
	
	line-height: 0.5cm;
	text-align: center;
	
	color: white;
	font-family: Arial;
	font-size: 0.3cm;
}


#bar {
    height: 0.5cm;
	width: 2.5cm;

    background-color: rgb(40, 40, 40);
	z-index: 6;
}


#led {
    position: absolute;
	top: -0.3cm;
	left: 2.3cm; 
}


#bar_text {
    margin-top: 0cm;
    margin-left: 0.1cm;

    color: white;
    font-family: Arial;
	font-size: 0.3cm;
	line-height: 0.5cm;
}


#display {
    position: fixed;
    height: 2.5cm;
	width: 2.5cm;

    background-color: white;

    font-family: Arial;
    font-size: 0.4cm;
	
	overflow-y: auto;
	overflow-x: hidden;
	
	z-index: 6;
}


#home {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/home.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#instructions {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/fistbump.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#noFound {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/foreveralone.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#alreadyAdded {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/alreadyadded.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#confirm {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/confirm.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#compass {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/tracking/0.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#heatmap_1, #heatmap_2, #heatmap_3, #heatmap_4 {
    height: 2.5cm;
	width: 2.5cm;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#heatmap_1 { background-image: url('../media/capacity/stage1.png'); }
#heatmap_2 { background-image: url('../media/capacity/stage2.png'); }
#heatmap_3 { background-image: url('../media/capacity/stage3.png'); }
#heatmap_4 { background-image: url('../media/capacity/stage4.png'); }


#return_button {
    position: inherit;
	top: 6.525cm;
	left: 4.57cm;

	height: 0.5cm;
	width: 0.9cm;

	cursor: pointer;
}


#home_button {
    position: inherit;
	top: 6.525cm;
	left: 5.525cm;

	height: 0.525cm;
	width: 1cm;
	
	cursor: pointer;
}


#lock_button {
    position: inherit;
	top: 6.525cm;
	left: 6.625cm;

	height: 0.5cm;
	width: 0.9cm;
	
	cursor: pointer;
}


#stateButton {
	height: 0.5cm;
	width: 2cm;
	
	position: absolute;
	top: 1cm;
	left: 0.2cm;
	
	text-align: center;
	line-height: 0.5cm;
}


/**************** Classes *****************/

.icon {
	height: 0.7cm;
	width: 0.7cm;
	
	vertical-align: middle;
}


.icon2 {
	margin: 0px 0px 0px 0px;

	height: 0.9cm;
	width: 0.9cm;
	
	vertical-align: middle;
}


/*************** Scroll Bar ******************/

::-webkit-scrollbar {
    width: 1mm;
}
 
::-webkit-scrollbar-track {
	background: rgb(240, 240, 240);
	border-radius: 1px rgb(0, 0, 0);
	-webkit-box-shadow: inset 0 0 6px rgb(200, 200, 200); 
}

::-webkit-scrollbar-thumb {
	background: rgb(150, 150, 150);
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}



/********** no select on mouse drag **********/

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




