
/************** General ***************/
body {
	background-color: rgb(100, 100, 100);
}


li {
    border-bottom: 1px solid black;
	line-height: 0.8cm;
    padding-left: 0.1cm;	/*0.2*/
	
	font-size: 0.4cm;
}


ul {
    margin: 0cm;
    padding-left: 0cm;
    list-style-type: none;
}


p {
    margin: 0cm;
    padding-bottom: 0.1cm;
	line-height: 0.3cm;
    font-size: 0.3cm;
}



/**************** IDs *****************/
#iRave {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	height: 9.6cm;
	width: 12cm;

    background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#screen {
    position: inherit;
    top: 3.35cm;
    left: 4.75cm;

	height: 3cm;
	width: 2.5cm;
}


#bar {
    height: 0.5cm;
	width: 2.5cm;

    background-color: rgb(40, 40, 40);
}


#bar_text {
    margin-top: 0cm;
    margin-left: 0.1cm;

    color: white;
    font-family: Arial;
	font-size: 0.3cm;
	line-height: 0.5cm;
}


#display {
    position: fixed;
    height: 2.5cm;
	width: 2.5cm;

    background-color: white;

    font-family: Arial;
    font-size: 0.4cm;
	
	overflow-y: auto;
	overflow-x: hidden;
}


#home {
    height: 2.5cm;
	width: 2.5cm;
	
	background-image: url('../media/home.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


#home_button {
    position: inherit;
	top: 6.525cm;
	left: 5.525cm;

	height: 0.525cm;
	width: 1cm;
}


#return_button {
    position: inherit;
	top: 6.525cm;
	left: 4.57cm;

	height: 0.5cm;
	width: 0.9cm;
}


#icon {
	height: 0.7cm;
	width: 0.7cm;
	
	vertical-align: middle;
}



/*************** Scroll Bar ******************/

::-webkit-scrollbar {
    width: 1mm;
}
 
::-webkit-scrollbar-track {
	background: rgb(240, 240, 240);
	border-radius: 1px rgb(0, 0, 0);
	-webkit-box-shadow: inset 0 0 6px rgb(200, 200, 200); 
}

::-webkit-scrollbar-thumb {
	background: rgb(150, 150, 150);
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}



/********** no select on mouse drag **********/

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




